/* GENERAL */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}
/* /GENERAL */
/* GENERAL CLASSES */
/* WIDTH */
.width-70 {
    width: 70%;
}
.width-85 {
    width: 85%;
}
/* BACKGROUND */
.bg-second {
    background-color: #B4D0E7;
}
/* FLOAT */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* CLEARFIX */
.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* BUTTON */
.button-blue {
    color: white;
    background-color: #0061FF;
    border: none;
}
.button-blue a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.button-blue:hover {
    filter: opacity(75%);
}
.large-button {
    width: 16em;
    height: 3em;
}
/* /GENERAL CLASSES */
/* HEADER */
header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
/* LOGO */
.logo {
    margin: 0 2em;
}
.logo img {
    vertical-align: middle;
}
/* /LOGO */
/* NAV-BAR */
.left-menu,
.right-menu {
    display: inline-block;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0 1em;
    border-bottom: 2px solid white;
}
nav a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    vertical-align: middle;
}
nav li:hover {
    border-bottom: 2px solid black;
}
/* BUTTON */
.short-button {
    width: 4.5em;
    height: 2em;
    margin: 0 2em;
}
/* /BUTTON */
/* /NAV-BAR */
/* /HEADER */
/* MAIN */
/* JUMBOTRON */
.jumbotron {
    width: 100%;
    padding-top: 70px;
    position: relative;
}
.jumbotron h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 1em auto 0.5em auto;
}
.box-jumbo {
    margin: 0 auto;
}
.box-jumbo .texts-jumbo {
    width: 30%;
    display: inline-block;
}
.jumbotron p {
    font-weight: bold;
}
.box-jumbo button {
    margin-top: 2em;
}
.box-jumbo h6 {
    margin-top: 1em;
}
.fas {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 3em
}
.jumbotron .img-jumbo {
    width: 80%;
    height: 65%;
    object-fit: contain;
    position: absolute;
    top: 49%;
    left: 25%;
}
/* /JUMBOTRON */
/* DROPBOX-PLAN */
#dropbox-plan {
    padding-top: 14em;
}
/* TITLE */
#dropbox-plan h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em auto 1em auto;
}
/* BOX-RADIO */
#dropbox-plan .box-radio {
    margin: 1em auto 2em auto;
}
#dropbox-plan .box-radio input:last-child {
    margin-left: 1em;
}
/* BOX-COLUMNS */
#dropbox-plan .box-columns {
    height: 150vh;
    margin: 0 auto;
}
#dropbox-plan .column {
    width: calc(100% / 3 - 2em);
    height: 95%;
    border: 1px solid lightgray;
}
#dropbox-plan .column:nth-child(2) {
    margin-left: 3em;
    margin-right: 3em;
}
/* COLUMN */
/* TYPE OF USER */
.type-of-user {
    text-align: center;
    line-height: 2.5em;
    border-bottom: 1px solid lightgray;
}
/* OFFERT TITLE AND PRICE */
/* /DROPBOX-PLAN */
/* /MAIN */